.buyNftModal {
  width: 400px;
}

.modalBodyContentWrap {
  padding: 12px;
}

.nftPriceWrap {
}

.floorPriceTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #6c757d;
}

.floorPrice {
}

.nftVolumeWrap {
}

.volumeTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #6c757d;
}

.restVolume {
}

.totalVolume {
  color: #adb5bd;
}

.maxVolume {
  color: #000;
  font-weight: bolder;
}

.formWrap {
  margin-top: 28px;
}

.buttonsWrap {
  margin-top: 28px;
}

.purchaseButton {
}
