.icons {
  gap: 40px;
  margin-top: 36px;
}

.icon {
  object-fit: contain;
}

.iconName {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #212529;
  margin-top: 4px;
}

.connectButton {
  margin-top: 36px;
  margin-bottom: 24px;
}
